
.head{
	background-color:red;
	color: blue;
	text-align: center;
	font-size: 50px;

}
.head1{
	background-color: black;
	color: white;
}
.head3{
	background-color: yellow;
	color: blue;
}